*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: lightblue;
}
#appTODO{
    margin: 10px 45px 25px 45px;
}
header{
    text-align: center;
    color: cadetblue;

}
footer{
    text-align: center;
    color: cadetblue;
}

article {
    flex-wrap: wrap;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn {
    border: 1px solid gray;
}

.urgente {
    background-color: firebrick;
    font-weight: bold;
}
.diaria {
    background-color: chocolate;
    font-weight: bold;
}
.semanal{
    background-color: cadetblue;
    font-weight: bold;
}
.mensual{
    background-color: indigo;
    color: white;
    font-weight: bold;

}

.toast {
    background-color: whitesmoke;
    font-size: 18px;
    font-style: italic;
}

.toast-header{
    background-color: bisque;
    font-weight: bold;

}
